<mat-toolbar color="primary">
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <span class="login-register-buttons"></span>
    <button mat-raised-button color="warn" routerLink="login">
      Login
    </button>
    <button mat-raised-button color="warn" routerLink="register">
      Register
    </button>
</mat-toolbar>
